extends master

block headerScripts
  script(type="text/javascript" src="vendor/angular/angular.js")
  script(type="text/javascript" src="vendor/angular-route/angular-route.js")

block scripts
  script(type="text/javascript" src="static/app/kitchen.js")

block content
  div.viewArea(ng-app="kitchenApp" ng-controller="masterController")
    ul.menu
      li
        a(href="#/home") Home
    div(ng-view)