body {
}

timer > div {
	width: 25em;
	border: 1px solid black;
}

timer > div > div#close {
	position: relative;
	float: right;
	cursor: pointer;
	width: 1em;
	border: 1px solid black;
	border-width: 0 0 1px 1px;
	text-align: center;
	top: 0;
	font-size: 2em;
}

timer > div > div#title {
	text-align: left;
	font-size: 2em;
	padding: 0.25em 0.5em 0 0.5em;
}

timer > div > div#countdown {
	text-align: right;
	font-size: 4em;
	padding: 0 0.5em;
}

timer > div > div#controls {
	text-align: center;
	padding: 0 0 1em 0;
}

timer > div > div > input {
	width: 10em;
	height: 4em;
	margin: 0 1.2em;

}

timer.flash > div {
	background-color: red;
}

timer.running > div {
	background-color: lightgreen;
}

timer.paused > div {
	background-color: yellow;
}

div#createTimerDialog {

margin-top: 0.5em;

border:  1px solid black;

text-align:  center;
}

div#createTimerDialog input.digit {
	width: 4em;
	height:  4em;
	margin:  0.5em;
}

input[type="button"] {}

input#timerAddButton {
    width:  15em;
    height:  4em;
    margin: 0.5em 0 1em 0.5em;
}

input#createTimer-title {
    width: 14em;
    padding:  0.5em;
    margin-top: 1em;
    font-size: 1em;
}

div#timers {
    width: 16em;
}

input#createTimer-duration {
    width: 14em;
    padding:  0.5em;
    margin: 1em 0 0.5em 0;
    font-size:  1em;
    text-align:  right;
}

div#timerAutoStart input {
    width:  2em;
    height: 2em;
    position: relative;
    top: 0.4em;
}

div#timerAutoStart label {
    font-size:  1.5em;
}

div#timerAutoStart {
margin: 0.5em 0;}